.container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 0 16px;

    
}

.container h1 {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.container .table {
    margin-top: 16px;
}